services:
  postgres:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    ports:
      - "5433:5432"
    networks:
      - fast_food_net

  redis:
    image: redis:7.2.4
    env_file:
      - .env
    ports:
      - "6300:6379"
      
    networks:
      - fast_food_net

#  app:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    image: app:0.0.1
#    env_file:
#      - .env
#    depends_on:
#      - postgres
#      - redis
#    ports:
#      - "8080:8080"
#    networks:
#      - fast_food_net

networks:
  fast_food_net:
    driver: bridge
